In [1]:
import os, sys
import time
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
from datetime import datetime, date

## Import discharge summaries

In [2]:
path = os.path.join(os.getcwd(), 'NOTEEVENTS.csv')
start = time.time()
df_notes = pd.read_csv(path, encoding='utf8', engine='python')
end = time.time()
print('Read NOTEEVENTS.csv in {} seconds'.format(end-start))

Read NOTEEVENTS.csv in 90.56419706344604 seconds

In [3]:
discharge_notes = df_notes[df_notes['CATEGORY'] == 'Discharge summary']

In [4]:
discharge_notes

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...
5,179,53181,170490.0,2172-03-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2172-3-5**] D...
6,180,20646,134727.0,2112-12-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2112-12-8**] ...
7,181,42130,114236.0,2150-03-01,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2150-2-25**] ...
8,182,56174,163469.0,2118-08-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-8-10**] ...
9,183,56174,189681.0,2118-12-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-12-7**] ...
10,184,28063,121936.0,2125-02-16,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2125-2-9**] D...
11,185,1136,139574.0,2192-05-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2192-4-19**] ...
12,223,5350,169684.0,2143-04-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2143-4-25**] Discharge...
13,224,5350,169684.0,2143-04-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2143-4-25**] Discharge...
14,225,11369,121504.0,2199-02-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2199-2-8**] Discharge ...
15,226,11369,103786.0,2203-11-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2203-11-3**] ...
16,227,10044,124073.0,2152-10-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2152-10-2**] Dischar...
17,228,79900,120644.0,2194-07-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-7-18**] ...
18,229,79900,128319.0,2195-04-17,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-4-14**] ...
19,230,9805,188132.0,2130-02-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2130-2-3**] D...
20,231,9805,177212.0,2131-07-05,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-6-28**] ...
21,232,9805,177212.0,2131-07-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-7-5**] D...
22,233,99091,185274.0,2190-02-24,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2190-2-11**] ...
23,234,70108,186093.0,2105-04-27,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2105-4-16**] ...
24,235,19631,185175.0,2198-05-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2198-4-23**] ...
25,236,26601,116471.0,2127-07-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2127-7-21**] ...
26,237,26601,155131.0,2131-12-29,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-12-23**] ...
27,238,5136,151912.0,2189-12-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2189-12-1**] Dischar...
28,239,24424,146533.0,2188-05-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2188-5-9**] D...
29,240,27051,113012.0,2194-02-02,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-1-7**] D...
...,...,...,...,...,...,...,...,...,...,...,...
60185,59610,17782,155710.0,2112-04-06,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 2706**], [**Known fir..."
60186,59611,67316,117502.0,2156-02-03,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname **],[**Known firstnam..."
60193,59643,82609,177315.0,2129-08-03,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 5493**],[**Known firs..."
60194,59644,82609,145595.0,2129-08-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 5493**],[**Known firs..."
60195,59645,70393,111964.0,2172-10-22,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18436**],[**Known fir..."
60196,59646,48453,183977.0,2200-12-22,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18438**],[**Known fir..."
60201,59612,67316,117502.0,2156-02-04,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname **],[**Known firstnam..."
60202,59613,41705,156241.0,2148-12-03,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18333**],[**Known fir..."
60203,59614,19405,153222.0,2125-07-08,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18335**], [**Known fi..."
60204,59615,19405,153222.0,2125-07-08,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18335**], [**Known fi..."
60288,59647,67717,168794.0,2201-07-03,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 5559**],[**Known firs..."
60289,59648,86531,161845.0,2105-07-30,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18444**],[**Known fir..."
60301,59616,2750,120236.0,2193-07-18,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18340**], [**Known fi..."
60312,59604,15414,136434.0,2154-05-04,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 16998**], [**Known fi..."
60313,59605,89952,145241.0,2125-01-09,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname **],[**Known firstnam..."
60314,59606,28475,172559.0,2115-02-26,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18284**],[**Known fir..."
60317,59617,50532,130383.0,2194-08-04,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18343**],[**Known fir..."
60318,59618,42694,180323.0,2111-04-11,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18345**],[**Known fir..."
60375,59649,89285,142709.0,2101-06-28,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18446**],[**Known fir..."
60387,59650,49879,114661.0,2125-08-17,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18448**],[**Known fir..."
60388,59651,49879,114661.0,2125-08-17,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18448**],[**Known fir..."
60389,59652,77532,157093.0,2102-08-24,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18453**],[**Known fir..."
60400,59619,83222,155984.0,2197-06-30,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname **],[**Known firstnam..."
60401,59620,40866,112538.0,2104-07-15,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18353**],[**Known fir..."
60410,59607,5733,122526.0,2141-01-30,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18311**], [**Known fi..."
60411,59608,93924,135672.0,2104-06-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 18321**],[**Known fir..."
60412,59609,17782,155710.0,2112-03-31,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 2706**], [**Known fir..."
60413,59621,96333,183951.0,2197-06-18,NaN,NaN,Discharge summary,Addendum,NaN,NaN,Name: [**Known lastname 18357**]-[**Known las...
60414,59622,66717,169165.0,2129-08-14,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname **],[**Known firstnam..."
60415,59623,73790,157100.0,2113-07-18,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 12459**],[**Known fir..."

## Map CHARTDATE to UTC and sort

In [5]:
def to_utc(chartdate):
    utc = datetime.strptime(chartdate+'-0-0-0','%Y-%m-%d-%H-%M-%S').timestamp()
    return utc
discharge_notes['UTC'] = discharge_notes['CHARTDATE'].apply(to_utc)
discharge_notes_utc = discharge_notes.sort_values(by=['UTC'])

/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Only include the first (earliest) visit for each patient

In [6]:
patients = set()
first_visit = pd.DataFrame()
idx_list = []
for i in tqdm(range(len(discharge_notes_utc))):
    instance = discharge_notes.iloc[i, :]
    sub_id = instance['SUBJECT_ID']
    if sub_id in patients:
        pass
    else:
        patients.update({sub_id})
        idx_list.append(i)
first_visit = discharge_notes_utc.iloc[idx_list, :]

100%|██████████| 59652/59652 [00:13<00:00, 4295.64it/s]

In [7]:
first_visit

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,UTC
43658,36983,82574,118464.0,2100-06-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-6-7**] D...,4.116197e+09
46436,52549,21081,159656.0,2100-06-17,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-6-14**] Discharge...,4.116888e+09
3242,3271,12001,173927.0,2100-06-27,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-6-14**] Dischar...,4.117752e+09
21574,31369,32096,158366.0,2100-06-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-6-22**] ...,4.118011e+09
9675,10125,20957,113808.0,2100-07-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-6-24**] Dischar...,4.118270e+09
4563,4873,4521,167070.0,2100-07-05,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-6-28**] Dischar...,4.118443e+09
4564,4874,4521,167070.0,2100-07-06,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-6-28**] Dischar...,4.118530e+09
4295,4281,41552,120254.0,2100-07-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-5**] D...,4.118702e+09
44309,51455,6503,114310.0,2100-07-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-11**] ...,4.119048e+09
55027,55618,4521,167070.0,2100-07-12,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 1223**], [**Known fir...",4.119048e+09
58590,59349,6503,114310.0,2100-07-15,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 183**], [**Known firs...",4.119307e+09
35184,28678,1323,128839.0,2100-07-17,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-11**] ...,4.119480e+09
55703,53545,22460,172937.0,2100-07-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-9**] Discharge ...,4.119566e+09
35615,25393,14395,196368.0,2100-07-19,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-9**] D...,4.119653e+09
36486,41498,50893,114454.0,2100-07-22,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-21**] ...,4.119912e+09
38855,46205,3240,192798.0,2100-07-22,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-18**] Dischar...,4.119912e+09
57652,57936,31288,136246.0,2100-07-22,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 12774**],[**Known fir...",4.119912e+09
43331,34491,31288,136246.0,2100-07-22,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-16**] ...,4.119912e+09
32847,28954,1291,141087.0,2100-07-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-4**] Discharg...,4.119998e+09
51028,54763,71582,101422.0,2100-07-24,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-16**] ...,4.120085e+09
27169,19413,79168,125272.0,2100-07-27,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-5**] D...,4.120344e+09
43067,34781,31263,198779.0,2100-07-27,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-18**] ...,4.120344e+09
5865,8751,68501,139687.0,2100-07-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-26**] ...,4.120603e+09
4565,4875,4521,167070.0,2100-07-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-6-28**] Dischar...,4.120603e+09
25664,21272,51754,153020.0,2100-07-31,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-27**] ...,4.120690e+09
31638,39633,70378,172149.0,2100-08-01,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-31**] ...,4.120776e+09
21617,31137,26920,139698.0,2100-08-05,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-7-26**] ...,4.121122e+09
57905,57734,26920,139698.0,2100-08-05,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 12200**],[**Known fir...",4.121122e+09
28285,25703,9752,156634.0,2100-08-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-8-2**] D...,4.121467e+09
15681,12848,25390,138653.0,2100-08-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2100-8-2**] D...,4.121640e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
7532,6667,30790,177976.0,2195-09-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-8-15**] ...,7.121621e+09
12783,15205,27960,119407.0,2195-09-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-9-3**] D...,7.121621e+09
43925,36634,72781,169273.0,2195-09-05,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-8-28**] ...,7.121707e+09
45824,53172,51245,121019.0,2195-09-07,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-8-18**] ...,7.121880e+09
45774,53122,16412,171732.0,2195-09-07,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-8-26**] Dischar...,7.121880e+09
32444,30213,97959,130096.0,2195-09-07,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-9-5**] D...,7.121880e+09
12598,15188,25630,175268.0,2195-09-07,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-9-2**] Discharge ...,7.121880e+09
47057,50644,87350,120424.0,2195-09-07,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-9-2**] D...,7.121880e+09
9196,7763,15361,140920.0,2195-09-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-8-14**] ...,7.121966e+09
25937,23890,5885,114939.0,2195-09-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-8-28**] ...,7.121966e+09
23962,24832,3416,170255.0,2195-09-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-9-2**] Discharg...,7.122053e+09
3947,3608,19793,131410.0,2196-01-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-12-31**] Discharg...,7.132165e+09
51121,54195,20263,151335.0,2196-03-05,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2196-2-26**] ...,7.137436e+09
32454,30223,20634,144572.0,2196-03-07,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2196-2-23**] ...,7.137608e+09
3613,3394,11269,163226.0,2196-05-07,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2196-5-2**] Discharge ...,7.142875e+09
57373,57229,20946,142701.0,2196-06-28,NaN,NaN,Discharge summary,Addendum,NaN,NaN,"Name: [**Known lastname 10530**],[**Known fir...",7.147368e+09
22006,20932,18917,171901.0,2196-07-01,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2196-6-27**] Dischar...,7.147627e+09
30043,39786,91738,167406.0,2196-11-29,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2196-11-21**] ...,7.160677e+09
19455,17537,6819,100684.0,2197-03-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2197-2-16**] Dischar...,7.169490e+09
20219,17632,22642,195999.0,2197-05-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2197-4-26**] Dischar...,7.174152e+09
14582,14624,1419,170460.0,2197-05-07,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2197-4-26**] Dischar...,7.174411e+09
9170,9804,93411,143685.0,2197-06-01,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2197-5-22**] ...,7.176571e+09
28865,27604,10024,131815.0,2197-06-27,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2197-6-23**] Dischar...,7.178818e+09
16498,18285,25425,145566.0,2199-04-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2199-4-2**] D...,7.235150e+09
43320,34480,27597,180160.0,2199-07-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2199-7-6**] D...,7.244741e+09
21418,31923,98815,195726.0,2199-08-13,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2199-7-29**] ...,7.245950e+09
49529,44340,47287,134920.0,2199-12-19,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2199-12-10**] ...,7.257013e+09
31874,26528,73206,190252.0,2200-11-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2200-11-6**] ...,7.285871e+09
53682,47675,25131,142098.0,2204-08-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2204-8-15**] ...,7.404754e+09
13972,11211,4843,187638.0,2207-04-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2207-2-27**] ...,7.486920e+09

## Map ICD to each note by HADM_ID

In [8]:
diag_dict = pd.read_csv('DIAGNOSES_ICD.csv')[['HADM_ID', 'SEQ_NUM', 'ICD9_CODE']]
proc_dict = pd.read_csv('PROCEDURES_ICD.csv')[['HADM_ID', 'SEQ_NUM', 'ICD9_CODE']]

In [9]:
diag_dict

        HADM_ID  SEQ_NUM ICD9_CODE
0        172335      1.0     40301
1        172335      2.0       486
2        172335      3.0     58281
3        172335      4.0      5855
4        172335      5.0      4254
5        172335      6.0      2762
6        172335      7.0      7100
7        172335      8.0      2767
8        172335      9.0      7243
9        172335     10.0     45829
10       172335     11.0      2875
11       172335     12.0     28521
12       172335     13.0     28529
13       172335     14.0     27541
14       173633      1.0     40301
15       173633      2.0      5856
16       173633      3.0     58381
17       173633      4.0      7100
18       173633      5.0      5589
19       173633      6.0      2875
20       173633      7.0     28521
21       173633      8.0     45829
22       173633      9.0     32723
23       173633     10.0     22804
24       173633     11.0     33829
25       173633     12.0     78900
26       173633     13.0     79092
27       173633     14.0     V4511
28       174105      1.0     53100
29       174105      2.0     41071
...         ...      ...       ...
651017   161999     18.0      3051
651018   161999     19.0      7843
651019   161999     20.0      0414
651020   161999     21.0     30391
651021   161999     22.0     E8798
651022   161999     23.0     78791
651023   161999     24.0     V4986
651024   189314      1.0     34680
651025   189314      2.0      7843
651026   189314      3.0      7455
651027   189314      4.0     78194
651028   189314      5.0     36840
651029   189314      6.0      7813
651030   189314      7.0      7820
651031   189314      8.0       311
651032   168949      1.0      0529
651033   168949      2.0      4162
651034   168949      3.0     20192
651035   168949      4.0       135
651036   168949      5.0     27669
651037   168949      6.0      5178
651038   168949      7.0     42731
651039   168949      8.0     V5861
651040   168949      9.0     45829
651041   188195      1.0      7842
651042   188195      2.0     20280
651043   188195      3.0     V5869
651044   188195      4.0     V1279
651045   188195      5.0      5275
651046   188195      6.0      5569

[651047 rows x 3 columns]

In [26]:
def map_icd(note_df, icd_dict):
    import operator
    icd_dict_cp = icd_dict.copy()
    col = ['SUBJECT_ID', 'HADM_ID', 'TEXT', 'ICD9_CODE', 'ICD9_COUNTS']
    df = note_df[['SUBJECT_ID', 'HADM_ID', 'TEXT']]
    icd_lists = []
    icd_counts = []
    for i in tqdm(range(len(df))):
        instance = note_df.iloc[i, :]
        h = instance['HADM_ID']
        icd_list = icd_dict_cp[icd_dict_cp['HADM_ID'] == h]
        icd_sort = sorted(dict(zip(list(icd_list['ICD9_CODE']), list(icd_list['SEQ_NUM']))).items(), 
                      key=operator.itemgetter(1))
        icd_count = len(icd_sort)
        icd_lists.append(icd_sort)
        icd_counts.append(icd_count)
    df['ICD9_CODE'] = icd_lists
    df['ICD9_COUNTS'] = icd_counts
    return df

In [27]:
df_diag = map_icd(first_visit, diag_dict)

100%|██████████| 41127/41127 [01:23<00:00, 489.62it/s]
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
df_proc = map_icd(first_visit, proc_dict)

100%|██████████| 41127/41127 [00:53<00:00, 768.93it/s]
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [36]:
df_diag

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,ICD9_COUNTS
43658,82574,118464.0,Admission Date: [**2100-6-7**] D...,"[(4589, 1.0), (28411, 2.0), (1985, 3.0), (1988...",17
46436,21081,159656.0,Admission Date: [**2100-6-14**] Discharge...,"[(51881, 1.0), (042, 2.0), (30470, 3.0), (5070...",9
3242,12001,173927.0,Admission Date: [**2100-6-14**] Dischar...,"[(431, 1.0), (5990, 2.0), (7070, 3.0), (3310, ...",8
21574,32096,158366.0,Admission Date: [**2100-6-22**] ...,"[(8080, 1.0), (86121, 2.0), (80704, 3.0), (599...",12
9675,20957,113808.0,Admission Date: [**2100-6-24**] Dischar...,"[(486, 1.0), (99662, 2.0), (7907, 3.0), (5559,...",4
4563,4521,167070.0,Admission Date: [**2100-6-28**] Dischar...,"[(44024, 1.0), (73007, 2.0), (25070, 3.0), (25...",9
4564,4521,167070.0,Admission Date: [**2100-6-28**] Dischar...,"[(44024, 1.0), (73007, 2.0), (25070, 3.0), (25...",9
4295,41552,120254.0,Admission Date: [**2100-7-5**] D...,"[(53100, 1.0), (5849, 2.0), (27652, 3.0), (585...",10
44309,6503,114310.0,Admission Date: [**2100-7-11**] ...,"[(78900, 1.0), (25041, 2.0), (40391, 3.0), (25...",8
55027,4521,167070.0,"Name: [**Known lastname 1223**], [**Known fir...","[(44024, 1.0), (73007, 2.0), (25070, 3.0), (25...",9
58590,6503,114310.0,"Name: [**Known lastname 183**], [**Known firs...","[(78900, 1.0), (25041, 2.0), (40391, 3.0), (25...",8
35184,1323,128839.0,Admission Date: [**2100-7-11**] ...,"[(82133, 1.0), (2851, 2.0), (49320, 3.0), (E88...",8
55703,22460,172937.0,Admission Date: [**2100-7-9**] Discharge ...,"[(56489, 1.0), (99811, 2.0), (2851, 3.0), (276...",9
35615,14395,196368.0,Admission Date: [**2100-7-9**] D...,"[(41011, 1.0), (41401, 2.0), (53081, 3.0), (40...",5
36486,50893,114454.0,Admission Date: [**2100-7-21**] ...,"[(42789, 1.0), (9971, 2.0), (4230, 3.0), (4273...",9
38855,3240,192798.0,Admission Date: [**2100-7-18**] Dischar...,"[(5789, 1.0), (E9359, 2.0), (41071, 3.0), (427...",9
57652,31288,136246.0,"Name: [**Known lastname 12774**],[**Known fir...","[(431, 1.0), (486, 2.0), (4019, 3.0), (42731, ...",16
43331,31288,136246.0,Admission Date: [**2100-7-16**] ...,"[(431, 1.0), (486, 2.0), (4019, 3.0), (42731, ...",16
32847,1291,141087.0,Admission Date: [**2100-7-4**] Discharg...,"[(V3000, 1.0), (76518, 2.0), (7742, 3.0), (779...",8
51028,71582,101422.0,Admission Date: [**2100-7-16**] ...,"[(4241, 1.0), (41401, 2.0), (V4582, 3.0), (250...",5
27169,79168,125272.0,Admission Date: [**2100-7-5**] D...,"[(53989, 1.0), (56722, 2.0), (41519, 3.0), (58...",18
43067,31263,198779.0,Admission Date: [**2100-7-18**] ...,"[(80220, 1.0), (44321, 2.0), (87371, 3.0), (E9...",5
5865,68501,139687.0,Admission Date: [**2100-7-26**] ...,"[(43310, 1.0), (43411, 2.0), (34290, 3.0), (99...",12
4565,4521,167070.0,Admission Date: [**2100-6-28**] Dischar...,"[(44024, 1.0), (73007, 2.0), (25070, 3.0), (25...",9
25664,51754,153020.0,Admission Date: [**2100-7-27**] ...,"[(5789, 1.0), (2851, 2.0), (5569, 3.0), (4240,...",8
31638,70378,172149.0,Admission Date: [**2100-7-31**] ...,"[(96502, 1.0), (7991, 2.0), (30401, 3.0), (969...",12
21617,26920,139698.0,Admission Date: [**2100-7-26**] ...,"[(43491, 1.0), (5070, 2.0), (41519, 3.0), (282...",13
57905,26920,139698.0,"Name: [**Known lastname 12200**],[**Known fir...","[(43491, 1.0), (5070, 2.0), (41519, 3.0), (282...",13
28285,9752,156634.0,Admission Date: [**2100-8-2**] D...,"[(81231, 1.0), (8600, 2.0), (86500, 3.0), (815...",8
15681,25390,138653.0,Admission Date: [**2100-8-2**] D...,"[(43491, 1.0), (4019, 2.0), (3310, 3.0), (2941...",4
...,...,...,...,...,...
7532,30790,177976.0,Admission Date: [**2195-8-15**] ...,"[(44024, 1.0), (99674, 2.0), (5990, 3.0), (438...",8
12783,27960,119407.0,Admission Date: [**2195-9-3**] D...,"[(9951, 1.0), (2809, 2.0), (49390, 3.0), (5308...",5
43925,72781,169273.0,Admission Date: [**2195-8-28**] ...,"[(41401, 1.0), (42822, 2.0), (4280, 3.0), (425...",13
45824,51245,121019.0,Admission Date: [**2195-8-18**] ...,"[(1622, 1.0), (51881, 2.0), (4920, 3.0), (4019...",12
45774,16412,171732.0,Admission Date: [**2195-8-26**] Dischar...,"[(4414, 1.0), (2851, 2.0), (496, 3.0), (2875, ...",9
32444,97959,130096.0,Admission Date: [**2195-9-5**] D...,"[(9951, 1.0), (51881, 2.0), (E9429, 3.0), (E84...",8
12598,25630,175268.0,Admission Date: [**2195-9-2**] Discharge ...,"[(9698, 1.0), (30470, 2.0), (2764, 3.0), (9650...",9
47057,87350,120424.0,Admission Date: [**2195-9-2**] D...,"[(41401, 1.0), (42731, 2.0), (4019, 3.0), (272...",7
9196,15361,140920.0,Admission Date: [**2195-8-14**] ...,"[(1623, 1.0), (51881, 2.0), (19889, 3.0), (117...",17
25937,5885,114939.0,Admission Date: [**2195-8-28**] ...,"[(0389, 1.0), (78552, 2.0), (51881, 3.0), (557...",21
23962,3416,170255.0,Admission Date: [**2195-9-2**] Discharg...,"[(V3001, 1.0), (77083, 2.0), (77982, 3.0), (77...",6
3947,19793,131410.0,Admission Date: [**2195-12-31**] Discharg...,"[(5070, 1.0), (51882, 2.0), (0389, 3.0), (7855...",9
51121,20263,151335.0,Admission Date: [**2196-2-26**] ...,"[(49322, 1.0), (51881, 2.0), (2851, 3.0), (578...",15
32454,20634,144572.0,Admission Date: [**2196-2-23**] ...,"[(43491, 1.0), (4822, 2.0), (25002, 3.0), (401...",10
3613,11269,163226.0,Admission Date: [**2196-5-2**] Discharge ...,"[(042, 1.0), (486, 2.0), (2848, 3.0), (00845, ...",6
57373,20946,142701.0,"Name: [**Known lastname 10530**],[**Known fir...","[(1970, 1.0), (4280, 2.0), (56212, 3.0), (4273...",9
22006,18917,171901.0,Admission Date: [**2196-6-27**] Dischar...,"[(V3101, 1.0), (76518, 2.0), (76527, 3.0), (77...",7
30043,91738,167406.0,Admission Date: [**2196-11-21**] ...,"[(4552, 1.0), (5849, 2.0), (591, 3.0), (1977, ...",17
19455,6819,100684.0,Admission Date: [**2197-2-16**] Dischar...,"[(V3101, 1.0), (76518, 2.0), (7793, 3.0), (774...",8
20219,22642,195999.0,Admission Date: [**2197-4-26**] Dischar...,"[(41401, 1.0), (4111, 2.0), (9971, 3.0), (4273...",9
14582,1419,170460.0,Admission Date: [**2197-4-26**] Dischar...,"[(4422, 1.0), (4271, 2.0), (99811, 3.0), (4280...",9
9170,93411,143685.0,Admission Date: [**2197-5-22**] ...,"[(42833, 1.0), (486, 2.0), (41071, 3.0), (4912...",22
28865,10024,131815.0,Admission Date: [**2197-6-23**] Dischar...,"[(V3001, 1.0), (V290, 2.0), (V502, 3.0), (V053...",4
16498,25425,145566.0,Admission Date: [**2199-4-2**] D...,"[(9962, 1.0), (3485, 2.0), (3314, 3.0), (E8781...",4
43320,27597,180160.0,Admission Date: [**2199-7-6**] D...,"[(4464, 1.0), (5849, 2.0), (7863, 3.0), (5804,...",16
21418,98815,195726.0,Admission Date: [**2199-7-29**] ...,"[(42823, 1.0), (5849, 2.0), (4271, 3.0), (4254...",11
49529,47287,134920.0,Admission Date: [**2199-12-10**] ...,"[(42823, 1.0), (51881, 2.0), (5849, 3.0), (998...",21
31874,73206,190252.0,Admission Date: [**2200-11-6**] ...,"[(1588, 1.0), (1974, 2.0), (1986, 3.0), (19882...",17
53682,25131,142098.0,Admission Date: [**2204-8-15**] ...,"[(43311, 1.0), (41071, 2.0), (78001, 3.0), (42...",39
13972,4843,187638.0,Admission Date: [**2207-2-27**] ...,"[(25060, 1.0), (53784, 2.0), (0400, 3.0), (428...",36

In [37]:
df_proc

,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,ICD9_COUNTS
43658,82574,118464.0,Admission Date: [**2100-6-7**] D...,"[(9229, 1)]",1
46436,21081,159656.0,Admission Date: [**2100-6-14**] Discharge...,[],0
3242,12001,173927.0,Admission Date: [**2100-6-14**] Dischar...,"[(4513, 1), (4311, 2), (966, 3)]",3
21574,32096,158366.0,Admission Date: [**2100-6-22**] ...,"[(7939, 1), (7906, 2), (390, 3), (7909, 4), (8...",7
9675,20957,113808.0,Admission Date: [**2100-6-24**] Dischar...,"[(3323, 1), (9656, 2), (9604, 3), (3893, 4), (...",5
4563,4521,167070.0,Admission Date: [**2100-6-28**] Dischar...,"[(8411, 1), (8415, 2), (3809, 3), (8848, 4), (...",5
4564,4521,167070.0,Admission Date: [**2100-6-28**] Dischar...,"[(8411, 1), (8415, 2), (3809, 3), (8848, 4), (...",5
4295,41552,120254.0,Admission Date: [**2100-7-5**] D...,"[(4443, 1)]",1
44309,6503,114310.0,Admission Date: [**2100-7-11**] ...,"[(3995, 1), (9904, 2)]",2
55027,4521,167070.0,"Name: [**Known lastname 1223**], [**Known fir...","[(8411, 1), (8415, 2), (3809, 3), (8848, 4), (...",5
58590,6503,114310.0,"Name: [**Known lastname 183**], [**Known firs...","[(3995, 1), (9904, 2)]",2
35184,1323,128839.0,Admission Date: [**2100-7-11**] ...,"[(7935, 1), (7965, 2), (9904, 3)]",3
55703,22460,172937.0,Admission Date: [**2100-7-9**] Discharge ...,"[(4579, 1), (4593, 2), (5419, 3)]",3
35615,14395,196368.0,Admission Date: [**2100-7-9**] D...,"[(3615, 1), (3722, 2), (3612, 3), (3961, 4), (...",9
36486,50893,114454.0,Admission Date: [**2100-7-21**] ...,"[(3734, 1), (3727, 2), (3726, 3), (9962, 4), (...",5
38855,3240,192798.0,Admission Date: [**2100-7-18**] Dischar...,"[(9633, 1)]",1
57652,31288,136246.0,"Name: [**Known lastname 12774**],[**Known fir...",[],0
43331,31288,136246.0,Admission Date: [**2100-7-16**] ...,[],0
32847,1291,141087.0,Admission Date: [**2100-7-4**] Discharg...,"[(9983, 1), (966, 2), (9955, 3)]",3
51028,71582,101422.0,Admission Date: [**2100-7-16**] ...,"[(3521, 1), (3961, 2)]",2
27169,79168,125272.0,Admission Date: [**2100-7-5**] D...,"[(5491, 3), (3897, 5), (9729, 7), (9915, 8), (...",5
43067,31263,198779.0,Admission Date: [**2100-7-18**] ...,"[(7675, 1), (8628, 2), (9604, 3), (9671, 4), (...",6
5865,68501,139687.0,Admission Date: [**2100-7-26**] ...,"[(3812, 1), (602, 2), (40, 3), (8841, 4)]",4
4565,4521,167070.0,Admission Date: [**2100-6-28**] Dischar...,"[(8411, 1), (8415, 2), (3809, 3), (8848, 4), (...",5
25664,51754,153020.0,Admission Date: [**2100-7-27**] ...,"[(4523, 1), (4513, 3)]",2
31638,70378,172149.0,Admission Date: [**2100-7-31**] ...,"[(9604, 1), (9671, 2)]",2
21617,26920,139698.0,Admission Date: [**2100-7-26**] ...,"[(311, 1), (4311, 2), (966, 3)]",3
57905,26920,139698.0,"Name: [**Known lastname 12200**],[**Known fir...","[(311, 1), (4311, 2), (966, 3)]",3
28285,9752,156634.0,Admission Date: [**2100-8-2**] D...,"[(7931, 1), (7961, 2), (7963, 3), (9671, 4), (...",7
15681,25390,138653.0,Admission Date: [**2100-8-2**] D...,"[(9910, 1)]",1
...,...,...,...,...,...
7532,30790,177976.0,Admission Date: [**2195-8-15**] ...,"[(8415, 1), (3950, 2), (3929, 3), (3956, 4), (...",8
12783,27960,119407.0,Admission Date: [**2195-9-3**] D...,[],0
43925,72781,169273.0,Admission Date: [**2195-8-28**] ...,"[(3571, 1), (3612, 2), (3615, 3), (3961, 4), (...",7
45824,51245,121019.0,Admission Date: [**2195-8-18**] ...,"[(311, 1), (9672, 2), (3229, 3), (3422, 4), (4...",12
45774,16412,171732.0,Admission Date: [**2195-8-26**] Dischar...,"[(3844, 1), (3925, 2), (3924, 3), (3893, 4)]",4
32444,97959,130096.0,Admission Date: [**2195-9-5**] D...,"[(9604, 1), (9671, 2)]",2
12598,25630,175268.0,Admission Date: [**2195-9-2**] Discharge ...,"[(3893, 1), (9671, 2)]",2
47057,87350,120424.0,Admission Date: [**2195-9-2**] D...,"[(3615, 1), (3722, 2), (3799, 3), (8856, 4), (...",6
9196,15361,140920.0,Admission Date: [**2195-8-14**] ...,"[(3421, 1), (311, 2), (3249, 3), (344, 4), (34...",17
25937,5885,114939.0,Admission Date: [**2195-8-28**] ...,"[(3949, 1), (3950, 2), (3818, 3), (8314, 4), (...",15
23962,3416,170255.0,Admission Date: [**2195-9-2**] Discharg...,"[(966, 1), (9983, 2), (9955, 3)]",3
3947,19793,131410.0,Admission Date: [**2195-12-31**] Discharg...,"[(3893, 1)]",1
51121,20263,151335.0,Admission Date: [**2196-2-26**] ...,"[(8872, 1), (9904, 2), (9390, 3)]",3
32454,20634,144572.0,Admission Date: [**2196-2-23**] ...,"[(311, 1), (125, 2), (4311, 4), (3893, 5), (96...",7
3613,11269,163226.0,Admission Date: [**2196-5-2**] Discharge ...,"[(370, 1), (3721, 2), (8855, 3)]",3
57373,20946,142701.0,"Name: [**Known lastname 10530**],[**Known fir...","[(9224, 1), (4523, 2)]",2
22006,18917,171901.0,Admission Date: [**2196-6-27**] Dischar...,"[(9983, 1), (9955, 2)]",2
30043,91738,167406.0,Admission Date: [**2196-11-21**] ...,"[(4524, 1), (4523, 2)]",2
19455,6819,100684.0,Admission Date: [**2197-2-16**] Dischar...,"[(9390, 1), (966, 2), (9955, 3)]",3
20219,22642,195999.0,Admission Date: [**2197-4-26**] Dischar...,"[(3612, 1), (3722, 2), (8856, 3), (8853, 4), (...",6
14582,1419,170460.0,Admission Date: [**2197-4-26**] Dischar...,"[(3925, 1), (3846, 2), (3957, 3), (3893, 4), (...",6
9170,93411,143685.0,Admission Date: [**2197-5-22**] ...,"[(3893, 1)]",1
28865,10024,131815.0,Admission Date: [**2197-6-23**] Dischar...,"[(640, 1), (9955, 2)]",2
16498,25425,145566.0,Admission Date: [**2199-4-2**] D...,"[(242, 2), (102, 3)]",2
43320,27597,180160.0,Admission Date: [**2199-7-6**] D...,"[(3893, 1), (9971, 2), (9904, 3), (5523, 4)]",4
21418,98815,195726.0,Admission Date: [**2199-7-29**] ...,"[(3893, 1)]",1
49529,47287,134920.0,Admission Date: [**2199-12-10**] ...,"[(5493, 1), (5349, 2), (5464, 3), (9671, 4), (...",7
31874,73206,190252.0,Admission Date: [**2200-11-6**] ...,"[(4562, 1), (6549, 2), (6849, 3), (544, 4), (4...",9
53682,25131,142098.0,Admission Date: [**2204-8-15**] ...,"[(9672, 1), (9604, 2), (3891, 3), (3897, 4), (...",6
13972,4843,187638.0,Admission Date: [**2207-2-27**] ...,"[(7769, 2), (7749, 3), (8339, 4), (8331, 5), (...",11

In [31]:
df_diag.to_csv('diag_icd_all.csv')
df_proc.to_csv('proc_icd_all.csv')